{% extends "base.html" %}
{% block content %}
<div class="auth-page">
    <div class="auth-form">
        <h2 class="text-center mb-4">Đăng ký tài khoản</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <!-- {{ form.full_name.label(class="form-label") }} -->
                {{ form.full_name(class="form-control styled-input", placeholder="Họ và tên") }}
                {% for error in form.full_name.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <!-- {{ form.email.label(class="form-label") }} -->
                {{ form.email(class="form-control styled-input", placeholder="Email") }}
                {% for error in form.email.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <!-- {{ form.phone_number.label(class="form-label") }} -->
                {{ form.phone_number(class="form-control styled-input", placeholder="Số điện thoại") }}
                {% for error in form.phone_number.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <!-- {{ form.password.label(class="form-label") }} -->
                {{ form.password(class="form-control styled-input", placeholder="Mật khẩu") }}
                {% for error in form.password.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <!-- {{ form.confirm_password.label(class="form-label") }} -->
                {{ form.confirm_password(class="form-control styled-input", placeholder="Xác nhận mật khẩu") }}
                {% for error in form.confirm_password.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="text-center">
                {{ form.submit(class="btn btn-primary btn-block") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
